
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
/* ------------Custom Fonts---------------- */


/* ------------Common Styles------------ */

*{
    
    font-family: 'Heebo', sans-serif;
}


h1{
    text-align: center;
}
img{
    width:100%;
}
.countries{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin: 0 auto;
   
}
.country{
   border: 2px solid goldenrod;
   margin: 0 auto;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 1px 1px 10px black;
}